<div class="modal fade" id="ModalChangeTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="exampleModalLabel">
                    نقل التعديلات إلى فريق التالي
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @foreach (var team in teams)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="@team.Id" name="flexRadioDefault" id="@team.Id" @onchange="@((e)=>SetTeamId(e))">
                        <label class="form-check-label" for="@team.Id">
                            @team.Label
                        </label>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark ml-10"></i>
                    إخفاء
                </button>
                <button type="button" class="btn btn-primary btn-sm" @onclick="HandleChangeTeam">
                    <i class="fa-solid fa-check ml-10"></i>
                    حفظ
                </button>
            </div>
        </div>
    </div>
</div>

